.similar-movies-img {
  width: 90px;
  height: 100px;
  border-radius: 4px;
  margin-right: 13px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .similar-movies-img {
    width: 255px;
    height: 170px;
    border-radius: 8px;
    margin-bottom: 24px;
    margin-right: 30px;
  }
}
