* {
  font-family: 'Roboto';
}

.account-page {
  height: 70vh;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #e5e5e5;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
.account-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #131313;
  margin-bottom: 8px;
}
.separator {
  border: none;
  border-top: 3px solid #cbd5e1;
  border-radius: 10px;
  margin-bottom: 24px;
}
.member-ship-details {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}
.member-ship-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #94a3b8;
  margin-right: 11px;
}
.username {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1e293b;
  margin-bottom: 6px;
}
.password {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #64748b;
}
.password-container {
  display: flex;
  align-items: center;
}
.plan-details {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.plan-details-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #94a3b8;
  margin-right: 23px;
}
.plan-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1e293b;
  margin-right: 9px;
}
.plan-feature {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #1e293b;
  border: 1px solid #1e293b;
  border-radius: 2px;
  padding: 2px 4px;
  height: 22px;
  width: 64px;
}
.log-out-btn {
  height: 40px;
  width: 89px;
  background: #e50914;
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  outline: none;
}
@media (min-width: 768px) {
  .account-page {
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 64px;
  }
  .account-heading {
    margin-bottom: 24px;
  }
  .member-ship-text {
    margin-right: 24px;
    font-size: 24px;
    line-height: 31px;
  }
  .username {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 13px;
  }
  .password {
    font-size: 24px;
    line-height: 31px;
  }
  .plan-details-text {
    font-size: 24px;
    line-height: 31px;
  }
  .plan-name {
    font-size: 24px;
    line-height: 31px;
  }
  .plan-feature {
    font-size: 18px;
    line-height: 23px;
    width: 79px;
    height: 27px;
  }
  .log-out-btn {
    margin-top: 40px;
  }
}
